# Dev environment
pip>=24.0
autopep8>=2.1.0

# App dependencies
asgiref>=3.8.1
Django>=5.0.4
sqlparse>=0.5.0
typing_extensions>=4.12.0
requests>=2.32.2
pytz>=2024.1
django-cors-headers>=4.3.1
gunicorn>=21.2.0  # ✅ Added for Render deployment
