# Dev environment
pip
autopep8

# App
asgiref==3.7.2
Django==5.0.11
sqlparse==0.4.4
typing_extensions==4.9.0
requests==2.31.0  # Required for handling API requests
pytz==2024.1  # Timezone support
django-cors-headers==4.2.0  # Allow frontend requests (if needed)

